<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#listButton").click(function () {
            $.ajax({
                type: 'get',
                url: 'Play',
                dataType: 'html',
                error: function () { alert('통신실패!!'); },
                success: function (data) {
                    alert("통신데이터 값 : " + data);
                    $("#dataArea").html(data);
                }
            });
        })
    })
</script>


<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <input type="button" id="listButton" value="리스트출력" /> <br/> <div id="listDiv"></div>
</body>
</html>
