@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.TabTitle{
  width:100%;
  text-align:center;
}

.TabTable{
  width:100%;
  text-align:center;
  border-collapse:collapse;
  border:1px solid #ddd;
}

.TabTableTd{
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-collapse:collapse;
}

.TabTableTr{
  background-color: #ddf;
}

.TabCloseButton{
  text-align:right;
}