#Back600Button, #Back10Button, #ReplayButton, #PauseButton, #StopButton, #Skip10Button, #Skip600Button{
	width : 100%;
	height : 100%;
	background-size : 100% 100%;
	background-color : white;
	border-radius : 12px;
	border : 2px solid;
}

#thumbnailDir{
	background-image : url("../Image/Folder.png");
	background-position: center;
	background-repeat: no-repeat;
}

#thumbnailFile{
	background-image : url("../Image/File.png");
	background-position: center;
	background-repeat: no-repeat;
}

#playLink{
	width : 70%;
}

#deleteButton{
	width : 10%;
}

.main{
	background-color : "white";
	text-align: center;
}

.buttonDiv{
	display: inline-block;
	width : 10%;
	height : 15%;
	background-color: white;
}

.ListView{
	width : 100%;
	border: 1px solid #444444;
}

table{
	border-collapse:collapse;
	table-layout:fixed;
}

td, th{
	height : 45px;
	border-top:1px solid #8693ca;
}

.column_Thumbnail{
	width: 25px;
}

.column_Title{
	width : 40%;
	cursor : hand;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.column_Date{
	width : 10%;
}

.column_Add{
	width : 10%;
}

.column_Delete{
	width : 20px;
}

.buttonFullDiv{
	display: inline-block;
	width : 100%;
	height : 100%;
}

.VideoProgress{
	width : 100%;
	height : 5px;
}

.back600{
	background-image : url("../Image/Back600.png");
}

.back10{
	background-image : url("../Image/Back10.png");
}

.play{
	background-image : url("../Image/Play.png");
}

.pause{
	background-image : url("../Image/Pause.png");
	position: relative;
	left : -105%;
}

.stop{
	background-image : url("../Image/Stop.png");
	position: relative;
	left : -105%;
}

.skip10{
	background-image : url("../Image/Skip10.png");
	position: relative;
	left : -105%;
}

.skip600{
	background-image : url("../Image/Skip600.png");
	position: relative;
	left : -105%;
}



#VolumeUpButton, #VolumeDownButton{
	width : 100%;
	height : 100%;
	background-size : 100% 100%;
	background-color : white;
	border-radius : 12px;
	border : 2px solid #0;
}

.volumeMain{
	background-color : "white";
	text-align: center;
}

.volumeDiv{
	display: inline-block;
	width : 20%;
	height : 15%;
}

.volumeUp{
	background-image : url("../Image/volumeUp.png");
}

.volumeDown{
	background-image : url("../Image/volumeDown.png");
}

.Empty20{
	width : 100%;
	height : 5%;
}

#SeekBar{
	position:absolute;
	left:o;
	bottom:-10px;
	width:100%;
    -webkit-appearance: none;
}

#SeekBar::-webkit-slider-runnable-track {
    height: 5px;
    background: url('F:\Temp\1.PNG');
}

#SeekBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
	background:url('F:\Temp\2.PNG') no-repeat;
	background-size:100% 100%;
    height: 32px;
    width: 32px;
	margin:-12px 0 0 -10px;
}