#Back600Button, #Back10Button, #ReplayButton, #PauseButton, #StopButton, #Skip10Button, #Skip600Button{
	width : 100%;
	height : 100%;
	background-size : 100% 100%;
	background-color : white;
	border-radius : 12px;
	border : 2px solid;
}

#thumbnailDir{
	width : 10%;
	background-image : url("../Image/Folder.png");
	background-position: center;
	background-repeat: no-repeat;
}

#thumbnailFile{
	width : 10%;
	background-image : url("../Image/File.png");
	background-position: center;
	background-repeat: no-repeat;
}

#playLink{
	width : 70%;
}

#deleteButton{
	width : 10%;
}

.main{
	background-color : "white";
	text-align: center;
}

.buttonDiv{
	display: inline-block;
	width : 15%;
	height : 15%;
}

.buttonFullDiv{
	display: inline-block;
	width : 100%;
	height : 100%;
}

.back600{
	background-image : url("../Image/Back600.png");
}

.back10{
	background-image : url("../Image/Back10.png");
}

.play{
	background-image : url("../Image/Play.png");
}

.pause{
	background-image : url("../Image/Pause.png");
}

.stop{
	background-image : url("../Image/Stop.png");
}

.skip10{
        background-image : url("../Image/Skip10.png");
}

.skip600{
	background-image : url("../Image/Skip600.png");
}



#VolumeUpButton, #VolumeDownButton{
	width : 100%;
	height : 100%;
	background-size : 100% 100%;
	background-color : white;
	border-radius : 12px;
	border : 2px solid #0;
}

.volumeMain{
	background-color : "white";
	text-align: center;
}

.volumeDiv{
	display: inline-block;
	width : 20%;
	height : 15%;
}

.volumeUp{
	background-image : url("../Image/volumeUp.png");
}

.volumeDown{
	background-image : url("../Image/volumeDown.png");
}

.Empty20{
	width : 100%;
	height : 20%;
}
