<Table width:'100%' style="border-collapse:collapse; border:1px solid rgb(119,119,119)">
    <thead>
        <tr class="table100-head" class="table100-head" style="border:1px solid rgb(119,119,119)">
            <th class="column_Title">제목</th>
            <th class="column_Date"></th>
            <th class="column_Add"></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr onmouseover="this.style.background='#ddd'" onmouseout="this.style.background='white'" Id="TR_{{item.magnetUrl}}" style="border-bottom:1px solid rgb(119,119,119)">
            <td>
                <p Id="{{item.magnetUrl}}">{{item.title}}<p>
            </td>
            <td>{{item.modifyDate}}</td>
            <td style='display:none'>{{item.magnetUrl}}</td>
            <td>
                <panel >
                    <input id="AddRow{{item.strIdx}}" OnClick="TorrentAdd('{{item.magnetUrl}}','{{item.title}}')" type="Button" Value="토렌트 추가"></input>
                    <input id="AddRow{{item.strIdx}}" OnClick="TorrentDelete('{{item.magnetUrl}}','{{item.title}}')" type="Button" Value="토렌트 삭제"></input>
                </panel>
            </td>
        <!--self.getAjaxScript();-->
        </tr>
        <!--self.getHttpScript();-->
    {% endfor %}
</Table>
  
<script type="text/javascript">
    function TorrentAdd(magnet, title){
        $.ajax({
            type: 'post',
            data:{
                'magnetUrl' : magnet
                , 'title' : title
            }
            , url: 'Torrent/TorrentAdd'
            , dataType : 'html'
            , error : function(){
                alert('Error');
            }
            , success : function(data){
                alert(title + " 토렌트 추가 하였습니다.");
            }
        })
    }
</script>